<div class="container">
  <!-- open primary body row -->
  <div class="row">
    <!-- sidebar col -->
    <div class="col s12 m4">
      <img class="headshot" src={{photo}} alt={{name}}>
      <a class="waves-effect waves-light btn" href={{contact.facebook}}>Facebook</a>
      <a class="waves-effect waves-light btn" href={{contact.twitter}}>Twitter</a>
      <a class="waves-effect waves-light btn" href={{contact.website}}>Website</a>
      <p>{{contact.phone}}</p>
    </div>
    <!-- primary content col -->
    <div class="col s12 m8">

    </div>
  </div>
</div>
