<div class="container">
  <!-- open primary body row -->
  <div class="row">
    <!-- sidebar col -->
    <div class="col s12 m4">
      <img class="headshot" src={{photo}} alt={{name}}>
      <h5>{{prop_name}}</h5>
      <!-- contact row -->
      <div class="row">
        <div class="col s12 m12">
          <!-- top row -->
          <div class="row">
            <a class="waves-effect waves-light btn contact-btn" href={{contact.facebook}} target="_blank">Facebook</a>
            <a class="waves-effect waves-light btn contact-btn" href={{contact.twitter}} target="_blank">Twitter</a>
          </div>
          <!-- bottom row -->
          <div class="row">
            <a class="waves-effect waves-light btn contact-btn" href={{contact.website}} target="_blank">Website</a>
            <h5>Office Phone: {{contact.phone}}</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- primary content col -->
    <div class="col s12 m8">
      <!-- name row -->
      <div class="row">
        <h1>{{prop_name}}</h1>
      </div>
      <!-- main row -->
      <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><h5>Biography</h5></div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><h5>Party Voting</h5></div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><h5>Missed and Attended Votes</h5></div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
