<div class="container">
  <!-- open primary body row -->
  <div class="row">
    <!-- sidebar col -->
    <div class="col s12 m3">
      <img class="headshot" src={{photo}} alt={{name}}>
      <h5>{{prop_name}}</h5>
      <!-- contact row -->
      <div class="row">
        <div class="col s12 m12">
          <!-- top row -->
          <div class="row">
            <a class="waves-effect waves-light btn contact-btn" href={{contact.facebook}} target="_blank">Facebook</a>
            <a class="waves-effect waves-light btn contact-btn" href={{contact.twitter}} target="_blank">Twitter</a>
          </div>
          <!-- bottom row -->
          <div class="row">
            <a class="waves-effect waves-light btn contact-btn" href={{contact.website}} target="_blank">Website</a>
            <h5>Office Phone: {{contact.phone}}</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- primary content col -->
    <div class="col s12 m9">
      <!-- name row -->
      <div class="row">
        <h2>{{prop_name}}</h2>
      </div>
      <!-- main row -->
      <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><h5>About {{name}}</h5></div>
            <div class="collapsible-body">
              <p>Born: {{dob}}</p>
              <!-- Create new accordion for all of the congressional terms -->
              <ul class="collapsible" data-collapsible="accordion">
                {{#each roles}}
                  <li>
                    <div class="collapsible-header">Congress: {{congress}}</div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="col s6 m6">
                          <p>Chamber: {{chamber}}</p>
                          <p>Term Start: {{start_date}}</p>
                          <p>Term End: {{end_date}}</p>
                        </div>
                        <div class="col s6 m6">
                          <p>State: {{state}}</p>
                          <p>Bills Sponsored: {{bills_sponsored}}</p>
                          <p>Bills Cosponsored: {{bills_cosponsored}}</p>
                        </div>
                      </div>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><h5>Party Voting</h5></div>
            <div class="collapsible-body">
              <h5>How often does {{prop_name}} vote with their party?</h5>
              <div class="row">
                <div class="party-chart col s12 m6">

                </div>
                <div class="col s12 m6">
                  <div class="row party-tooltip">

                  </div>
                  <div class="row btn-row">
                    <a class="waves-effect waves-light btn vote-btn pie-btn" data-val="member">{{name}}</a>
                    <a class="waves-effect waves-light btn vote-btn pie-btn" data-val="party">Party</a>
                    <a class="waves-effect waves-light btn vote-btn pie-btn" data-val="chamber">Chamber</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><h5>Missed and Attended Votes</h5></div>
            <div class="collapsible-body">
              <h5>How often does {{prop_name}} actually vote?</h5>
              <div class="vote-chart">

              </div>
              <div class="vote-tooltip">

              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
